/*
 * Name			: application.css
 * Author		: Sandro Guerotto
 * Describtion	: CSS File with style properties for  all Gui Components
 * Create on 	: 20.09.2016
 * Last modify  : dd.mm.yyyy name reason
 */

.text{
    -fx-font-family: "Dosis";
    -fx-text-fill: #404040;
}
.TableColumn{
    -fx-font-weight: bold;
}
.data-title{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
}
.data-msg{
    -fx-font-size: 24px;
}
.home-wallpaper{
    -fx-background-image: url('../images/herbst.jpg');
    -fx-background-repeat: no-repeat;
}
.home-color{
    -fx-text-fill: #ffffffe5;
}
.home-time{
    -fx-font-size: 64px;
    -fx-font-weight: bold;
}
.home-title{
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.data-subtitle{
    -fx-font-size: 24px;
}

.btn-home{
    -fx-background-color: transparent;
}
.btn-home:hover{
    -fx-background-color: #ffffff4d;
    -fx-cursor: hand;
}
.btn-cancel-whtie{
    -fx-font-size: 36px;
    -fx-text-fill: #ffffffe5;
}
.btn-cancel-whtie:hover{
    -fx-underline: true;
}
#download-cell{
    -fx-background-image: url("../icons/black/PNG/download.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 65%;
    -fx-background-position: center ;
}
#col_name, #col_create, #col_type, #col_last, #col_size{
    -fx-font-size: 24.0;
}
#col_create, #col_last{
    -fx-text-alignment: justify;
}



/* Message */
.msg_info, .msg_success, .msg_warning, .msg_error {
    -fx-padding: 12px 12px 12px 12px;
    -fx-font-size: 24px;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;

    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 10, 0, 0, 0);*/
}
.msg_info {
    -fx-text-fill: #00529B;
    -fx-background-color: #BDE5F8;
    -fx-border-color: #00529B;
}
.msg_success {
    -fx-text-fill: #4F8A10;
    -fx-background-color: #DFF2BF;
    -fx-border-color: #4F8A10;
}
.msg_warning {
    -fx-text-fill: #9F6000;
    -fx-background-color: #FEEFB3;
    -fx-border-color: #9F6000;
}
.msg_error {
    -fx-text-fill: #D8000C;
    -fx-background-color: #FFBABA;
    -fx-border-color: #D8000C;
}
