/*
 * Name			: application.css
 * Author		: Sandro Guerotto
 * Describtion	: CSS File with style properties for  all Gui Components
 * Create on 	: 20.09.2016
 * Last modify  : dd.mm.yyyy name reason
 */

.text{
    -fx-font-family: "Dosis";
}
.TableColumn{
    -fx-font-weight: bold;
}
.title{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.home-title{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.subtitle{
    -fx-font-size: 24px;
}

#download-cell{
    -fx-background-image: url("../icons/black/PNG/download.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 65%;
    -fx-background-position: center ;
}
#col_name, #col_create, #col_type, #col_last, #col_size{
    -fx-font-size: 24.0;
}
#col_create, #col_last{
    -fx-text-alignment: justify;
}
